.Welcome {
  text-align: center;
}

.Welcome-logo {
  height: 40vmin;
  pointer-events: none;
}

.Welcome-header {
  background-color: #6a3ab2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Welcome-link {
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  padding: 15px;
}

.Welcome-text-logo {
  color: #ff5722;
}

.Welcome-text {
  font-size: calc(20px + 2vmin);
}
